.log {
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}
.log:hover {
  /*border: 1px solid #f00;*/
}
.logItem, .logHost {
  margin: 0 5px;
  vertical-align: top;
}
.logHost {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

@media(max-width: 375px){
  .logHost {
    display: none;
  }
}