@keyframes popupAppear {
  from {
    transform: translate3d(-3000px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes rotateCross {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.popup {
  position: fixed;
  z-index: 10000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}
.popupContent {
  position: relative;
  width: 100%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  white-space: pre-wrap;
  background: #dadada;
  padding: 30px 20px;
  animation: popupAppear 0.5s cubic-bezier(0, 1.23, 0.22, 0.98);
}
.popup:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.fieldTitle {
  margin: 0;
  font-size: 14px;
}
.field {
  word-wrap: break-word;
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.popupCross {
    font-size: 25px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    animation: rotateCross 0.5s cubic-bezier(0.72, 2.54, 0.83, 1.45);
}